﻿<!DOCTYPE html>
@using System.Web.Optimization;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Assets/Bootstrap/css/bootstrap.css")
    @Styles.Render("~/styles")
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">


        <div class="container">

            <ul class="nav navbar-nav">
                <li>
                    <img src="/Content/images/EffectiveSoft.png" style="cursor: pointer;" onclick="window.location.href = '/'">
                </li>
                <li class="active">
                    <a href="/" title="Main">
                        <span>Discounts</span>
                    </a>
                </li>
                <li>
                    <a href="/" title="">
                        <span>Companies</span>
                    </a>
                </li>
                <li>
                    <a href="/" title="">
                        <span>Administration</span>
                    </a>
                </li>
            </ul>
            <div style="float: right; margin-top: 15px">
                <a href="/Home/EditUser?name=aliaksandr.yafremau">
                    Aliaksandr Yafremau
                </a>

            </div>
        </div>
    </nav>
    <div>
    Hello
        @RenderBody()

        @Scripts.Render("~/ng")
        @Scripts.Render("~/app")
        @Scripts.Render("~/jquery")
        @Scripts.Render("~/bootstrap")
        @Scripts.Render("~/misc")
    </div>
</body>
</html>
